@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap');
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}


/* Globales */

html {
    /* 1rem = 10px */
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /*1rem = 10px; */
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

.contenedor {
    max-width: 90rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: auto;
    text-align: center;
    border: none;
}

@media(max-width:480px) {
    .boton {
        width: 90%;
    }
}

.boton:hover {
    cursor: pointer;
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.53);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}


/* Tipografia */

h1 {
    font-size: 3.8rem;
    text-align: center;
}

h2 {
    font-size: 2.8rem;
    text-align: center;
}

h3 {
    font-size: 1.8rem;
    text-align: center;
}


/* Titulos */

.titulo span {
    font-size: 20px;
    font-size: 2rem;
}


/* Utilidaddes */

.w-100 {
    width: 100%;
}

@media(min-width:768px) {
    .w-100 {
        width: auto;
    }
}

.alinear-derecha {
    justify-content: flex-end;
}

.flex {
    display: flex;
}


/* Navegacion Principal */

.nav-bg {
    background-color: var(--secundario);
}

.navegacion-principal {
    display: flex;
    justify-content: space-between;
}

@media(max-width:768px) {
    .navegacion-principal {
        flex-direction: column;
        align-items: center;
    }
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}


/* Contenido */

.hero {
    background-image: url(/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}


/* Servicios */

@media(min-width:768px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    color: var(--secundario);
    font-weight: normal;
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background-color: var(--primario);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* Contacto */

.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario p {
    color: var(--primario);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}

@media(min-width:768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.campo textarea {
    height: 15rem;
}


/* Footer */

.footer {
    text-align: center;
}